ninja --version
cmake --version

{# Windows #}
{% if build_platform == "windows" -%}
if not exist %SRC_DIR%\..\build\build.ninja (
    cmake %CMAKE_ARGS% ^
          -GNinja ^
          -DCMAKE_BUILD_TYPE=Release ^
          -DCMAKE_INSTALL_PREFIX=%LIBRARY_PREFIX% ^
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ^
          -DBUILD_SHARED_LIBS=ON ^
          {% if has_host_python -%}
          -DPython_EXECUTABLE="%PYTHON%" ^
          {% endif -%}
          {{ extra_args | join(" ") }} ^
          -B %SRC_DIR%\..\build ^
          -S "{{ source_dir }}"
    @if errorlevel 1 exit 1
)
cmake --build %SRC_DIR%\..\build --target install
@if errorlevel 1 exit 1

{# Non Windows #}
{% else -%}
if [ ! -f "$SRC_DIR/../build/build.ninja" ]; then
    cmake $CMAKE_ARGS \
          -GNinja \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_INSTALL_PREFIX=$PREFIX \
          -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
          {% if has_host_python -%}
          -DPython_EXECUTABLE=$PYTHON \
          {% endif -%}
          -DBUILD_SHARED_LIBS=ON \
          {{ extra_args | join(" ") }} \
          -B $SRC_DIR/../build \
          -S "{{ source_dir }}"
fi
cmake --build $SRC_DIR/../build --target install
{% endif -%}

{% if build_platform == "windows" -%}
@if errorlevel 1 exit 1
{% endif %}
